#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
*.o
*.o.cmd
.*.cmd
*.g
\#*
.\#*
*~

# Top-level ignorables
/linux
/.config

# Common generated subdirectores
shared
static
