menu "ALSA ARM devices"
	depends on SND!=n && ARM

config SND_S3C2410
	tristate "S3C24XX Sound core"
	depends on ARCH_S3C2410 && SND
	select I2C_SENSOR
	select SND_PCM
	help
	  Say Y here if you want to use the inbuilt audio controller
	  on the S3C2410 or S3C2440

config SND_PXA2xx_I2SOUND
	tristate
	select SND_PCM

endmenu