/*
 * Copyright (C) 2014 STMicroelectronics (R&D) Limited.
 * Author: Maxime Coquelin <maxime.coquelin@st.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/ {
	chosen {
		bootargs = "console=ttyAS0,115200";
		linux,stdout-path = &sbc_serial0;
	};

	aliases {
		ttyAS0 = &sbc_serial0;
		ethernet0 = &ethernet0;
		usb0 = &usb0;
		usb1 = &usb1;
	};

	soc {
		sbc_serial0: serial@9530000 {
			status = "okay";
		};

		leds {
			compatible = "gpio-leds";
			red {
				#gpio-cells = <2>;
				label = "Front Panel LED";
				gpios = <&PIO4 1 0>;
				linux,default-trigger = "heartbeat";
			};
			green {
				#gpio-cells = <2>;
				gpios = <&PIO1 3 0>;
				default-state = "off";
			};
		};

		rc: rc@09518000 {
			status = "okay";
		};

		/* NIM-A */
		i2c2: i2c@9842000 {
			status = "okay";
		};

		/* NIM-B */
		i2c3: i2c@9843000 {
			status = "okay";
		};

		/* SSC4 to PCIe connector */
		i2c4: i2c@9844000 {
			status = "okay";
		};

		/* SSC5 to STV6440,  PCIe connector, I2C Eeprom */
		i2c5: i2c@9845000 {
			status = "okay";
		};

		/* SSC10 to STV0368 */
		i2c10: i2c@9540000 {
			status = "okay";
		};

		/* SSC11 to HDMI */
		i2c11: i2c@9541000 {
			status = "okay";
			/* HDMI V1.3a supports Standard mode only */
			clock-frequency = <100000>;
			st,i2c-min-scl-pulse-width-us = <0>;
			st,i2c-min-sda-pulse-width-us = <5>;
		};

		lpm:stm-lpm@9400000 {
			status = "okay";
			gpios = <&PIO3 2 0>;
			st,lmi-ret-gpio = <&PIO5 2 0>;
		};

		ethernet0: dwmac@9630000 {
			st,tx-retime-src = "clkgen";
			status = "okay";
			phy-mode = "rgmii";
			fixed-link = <1 1000 0 0>;
			snps,phy-addr = <0x1>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_rgmii1 &pinctrl_rgmii1_b2188_rxclk>;
		};

		realtek: rtl8367rb {
			compatible = "realtek,rtl8367rb";
			status = "okay";

			gpio-reset = <&PIO0 7 0>;
			gpio-sck = <&PIO1 1 0>;
			gpio-sda = <&PIO1 0 0>;

			rtl8367rb,extif1;
			rtl8367rb,extif1-mode = <1>; // RGMII
			rtl8367rb,extif1-txdelay = <0>;
			rtl8367rb,extif1-rxdelay = <1>;
			rtl8367rb,extif1-force_mode = <1>;
			rtl8367rb,extif1-txpause = <2>;
			rtl8367rb,extif1-rxpause = <2>;
			rtl8367rb,extif1-link = <1>;
			rtl8367rb,extif1-duplex = <1>;
			rtl8367rb,extif1-speed = <1>; // 100M speed

			rtl8367rb,extif2;
			rtl8367rb,extif2-mode = <1>; // RGMII
			rtl8367rb,extif2-txdelay = <0>;
			rtl8367rb,extif2-rxdelay = <1>;
			rtl8367rb,extif2-force_mode = <1>;
			rtl8367rb,extif2-txpause = <1>;
			rtl8367rb,extif2-rxpause = <1>;
			rtl8367rb,extif2-link = <1>;
			rtl8367rb,extif2-duplex = <1>;
			rtl8367rb,extif2-speed = <2>; // 1000M speed
		};

		usb0: usb@9A00000 {
			status = "okay";
		};

		usb1: usb@9A80000 {
			status = "okay";
		};

		st_dwc3: dwc3@8f94000 {
			status = "okay";
		};

		miphy28lp_phy0: miphy28lp@0 {
                        status = "okay";
                };

		miphy28lp_phy1: miphy28lp@1 {
			st,sata_gen = "gen3";
			st,osc-force-ext;
			status = "okay";
		};

		pcie0: pcie@9b00000 {
			status = "okay";
		};

		sata1: sata@9b28000 {
			status = "okay";
		};

		spifsm@9022000 {
			status = "okay";
			flash-name = "n25q256";
			partitions = <&b2188_fsm_partitions>;

			b2188_fsm_partitions: partitions-b2188 {
				#address-cells = <1>;
				#size-cells = <1>;
				partition@0 {
					label = "boot";
					/* 20M */
					reg = <0x00000000 0x01400000>;
				};
				partition@1400000 {
					label = "rest";
					/* 12M */
					reg = <0x01400000 0x00c00000>;
				};
			};
		};

		/* audio dac buffer */
		i2c@9845000 {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			snd_dac_buffer@4a {
				compatible = "st,snd_dac_buf_st6440";
				reg = <0x4a>;
				st,source-bus-id = <&snd_uni_player2>;
				st,buffer-gain = <2>;
			};
		};

		snd_uni_player1: snd-uni-player@1 {
			channels = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_i2s_2ch_out>;
		};

		snd_uni_reader0: snd-uni-reader@0 {
			channels = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_i2s_2ch_in>;
		};

		nandbch: nand-bch {
			st,bch-ecc-mode = "30bit";
			st,bch-bitflip-threshold = <0x1c>;
			status = "okay";
			st,nand-banks = <&nand_banks>;
		};

		nand_banks: nand-banks {
			bank0 {
				/* NAND_BBT_USE_FLASH (4Gbit) */
				nand-on-flash-bbt;
				nand-no-autoincr;
				st,nand-cs = <0>;
				st,nand-timing-data = <&nand_timing0>;
				partitions {
					#address-cells = <1>;
					#size-cells = <1>;
					partition@0{
						label = "NAND Flash 1";
						reg = <0x00000000 0x1e000000>;
					};
				};
			};
		};

		nand_timing0: nand-timing {
			sig-setup = <10>;
			sig-hold = <10>;
			CE-deassert = <0>;
			WE-to-RBn = <100>;
			wr-on = <10>;
			wr-off = <30>;
			rd-on = <10>;
			rd-off = <30>;
			chip-delay = <30>; /* delay in us */
		};

		mmc1: sdhci@09080000 {
			status = "okay";
		};

		vmmc_reg: voltage-regulator {
			status = "okay";
		};
	};
};
