config ISVE_ST
	tristate "Integrated SoC Virtual Ethernet driver"
	depends on HAS_IOMEM && ARCH_STI && OF
	select NET_CORE
	select CRC32
	---help---
	  This is the virtual Ethernet driver used in the new ST SoC
	  generations.
	  It dials with a special HW bridge designed to allow the communication
	  among DOCSIS system CPUs.
	  This means that all devices connected through a sort of virtual
	  Ethernet devices.

	  Say N to exclude this support.
