*~
*.la
*.lo
*.o
*.swp
.deps
.dirstamp
.libs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/extras/accelerometer/accelerometer
/extras/ata_id/ata_id
/extras/cdrom_id/cdrom_id
/extras/collect/collect
/extras/edd_id/edd_id
/extras/firmware/firmware
/extras/floppy/floppy
/extras/gudev/docs/version.xml
/extras/gudev/gudev
/extras/gudev/gudev-1.0.pc
/extras/keymap/keymap
/extras/mtd_probe/mtd_probe
/extras/qemu/qemu
/extras/rule_generator/rule_generator
/extras/scsi_id/scsi_id
/extras/udev-acl/udev-acl
/extras/usb-db/pci-db
/extras/usb-db/usb-db
/extras/v4l_id/v4l_id
/init/udev-settle.service
/init/udev-trigger.service
/init/udev.service
/libtool
/libudev/docs/version.xml
/libudev/libudev.pc
/stamp-h1
/udev/mknods
/udev/udev.pc
/udev/udevadm
/udev/udevd
